
.header {
  display: flex;
  justify-content: space-between;
}

// .clearfix::after {
//   content: '';
//   clear: both;
//   display: block;
// }

.header-logo{
  margin:20px 0 0 40px;
  .header-logo-boards {
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    color: #333;
  }
}
.header-login {
  // float: right;
  margin:20px 30px 0 0;
}
.header_avatar {
  position: relative;
  margin:20px 40px 0 0;
}