
.profile_user {
  margin-top: 30px;
  margin-bottom: 80px;
}
.profile_user_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.edit-btn {
  width:100px;
}
.profile_user_displayName {
  margin-right:auto;
  margin-left:20px;
}
.profile_user_introduction {
  width: 75%;
}